/* Box sizing border-box */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Remove default margins and paddings */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Remove default styling for lists */
ul,
ol {
  list-style: none;
}

/* Set default font family and size */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

#root {
  height: 100vh;
}

/* Remove focus outline for accessibility */
*:focus {
  outline: none;
}

.label > div {
  font-family: Helvetica, Arial;
  position: absolute;
  background: #00000088;
  color: white;
  padding: 15px;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 30px;
  user-select: none;
}
